# Ambiente virtual Python
venv/
__pycache__/
*.pyc

# Arquivos sensíveis
.env

# PDFs e dados temporários
data/*.json

# Arquivos de IDE
.vscode/
.idea/

# PDFs (evitar subir PDFs)
*.pdf

# Pastas de build geradas pelo PyInstaller
dist/
build/